<div class="page-content">
	<div class="hero-img-wrapper">
		<img src="img/hero-color.jpg" class="hero-image animated" />
	</div>
	<div class="hero-copy">
		<h1 class="headline">UI Engineering in <span>Seattle, WA</span></h1>
			<p>
				<a href="#/projects" class="cta">View Recent Work<span class="icon-arrow-right-2"></span></a>
			</p>
	</div>
	<div class="home-copy">
		<div class="blurb">
			<h3 class="sub-heading">About Me</h3>
			<img src="http://2.gravatar.com/avatar/921843ff95cf36f9f4a3d68ed10cfc75?s=120" class="portrait-pic fl-left" />
			<p>I am a UI Engineer living in the Pacific NW. My passion is in creating usable and accessible applications, using best practices, web standards and technologies to create dynamic and exciting user experiences. I use my skills to craft the best possible user experiences for the applications I develop.</p>
			<ul class="unstyled">
				<li><a href="">View my work</a></li>
				<li><a href="">Download my resume</a></li>
			</ul>


		</div>
		<div class="content">
			<h3 class="sub-heading">Core Skills &amp; Tools</h3>
			<ul class="unstyled skills">
				<li class="icon-checkmark">HTML5</li>
				<li class="icon-checkmark">CSS3 <span>SASS</span><span>LESS</span></li>
				<li class="icon-checkmark">JavaScript<span>jQuery</span><span>AngularJS</span></li>
				<li class="icon-checkmark">Ruby on Rails</li>
				<li class="icon-checkmark">Node<span>Express</span></li>
				<li class="icon-checkmark">Bower<span>Grunt</span></li>		
				<li class="icon-checkmark">Git</li>
			</ul>
		</div>

<!-- 	<div class="content">
		<h3 class="sub-heading">Latest work on github</h3>
		<ul ng-repeat="response in responses | limitTo : 15">
			<li>
				{{response.id}} <br>
				{{response.payload.commits[0].message}}
			</li>
		</ul>
	</div> -->
</div>
<footer class="primary-footer">
  <ul class="unstyled">
    <li class="icon-linkedin">
      <a href="https://www.linkedin.com/pub/dave-lane/17/54a/908" title="Linkedin" target="_blank">Connect on LinkedIn</a>
    </li>
    <li class="icon-github-3">
      <a href="" title="github" target="_blank">Follow me on Github</a>
    </li>
    <li class="icon-mail">
      <a href="mailto:davidlane2@mac.com" title="Email">Email me</a>
    </li>
    <li class="icon-file-word">
      <a href="" title="Download Resume">Download my resume</a>
    </li>
  </ul>
</footer>