<div class="hero-img-wrapper">
	<img src="img/hero-color.jpg" class="hero-image animated" />
</div>
<div class="hero-copy">
	<h1 class="headline">UI Engineering in Seattle, WA</h1>
	<p>I am a UI Engineer living in the Pacific NW. My passion is in creating usable and accessible websites and applications, specializing in using the best practices, web standards and technologies to create dynamic and exciting user experiences.</p>
	<p>I work using  CSS, Javascript, angularjs, HTML and Ruby on Rails along with a variety of other languages and platforms.</p>

	<p>
		<a href="#/projects" class="cta">View Recent Work<span class="icon-arrow-right-2"></span></a>
	</p>
</div>

<div class="content">
	<h3 class="sub-heading">Core Skills:</h3>
	<ul class="unstyled skills">
		<li>HTML5</li>
		<li>CSS3 / SASS / LESS</li>
		<li>JS / jQuery / Angular / Backbone</li>
		<li>Ruby on Rails</li>
		<li>Git</li>
	</ul>
</div>

<div class="content">
	<h3 class="sub-heading">Contact me:</h3>
	<ul class="unstyled contact">
		<li>
			<a href="https://www.linkedin.com/pub/dave-lane/17/54a/908" class="icon-linkedin" target="_blank">LinkedIn</a>
		</li>
		<li>
			<a href="" class="icon-github" target="_blank">Github</a>
		</li>
		<li>
			<a href="mailto:davidlane2@mac.com" class="icon-mail" target="_blank">Email</a>
		</li>
		<li >
			<a href="" class="icon-file-word">Resume</a>
		</li>
	</ul>
</div>

<div class="content">
	<h3 class="sub-heading">Latest work on github</h3>
	<ul ng-repeat="response in responses | limitTo : 15">
		<li>
			{{response.id}} <br>
			{{response.payload.commits[0].message}}
		</li>
	</ul>
</div>
